---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$primary-color: #4e2a84;
$link-color: #4e2a84;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.solid-header-formatting .page__hero--overlay {
    padding: 0.5em 0;
}

.solid-header-formatting .page__hero--overlay h1 {
    margin: 0 0 0.25em 0;
}
